@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    gap: 0.2rem;
  }

  .heading {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0.1rem;
    gap: 0.3rem;
  }

  .form {
    width: 100%;
  }

  .addinput {
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(25, 25, 25);
    color: white;
  }

  .addbutton {
    background-color: rgb(43, 90, 209);
    height: 50px;
    border-radius: 10px;
    color: white;
    border: none;
  }

  .addbutton:hover {
    background-color: rgb(20, 71, 198);
    border: 1px solid white;
  }

  .error {
    color: red;
    display: flex;
    justify-content: center;
  }

  .detailcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 220px;
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
  }

  .count {
    color: rgb(209, 209, 209);
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    color: green;
  }

  .name {
    color: rgb(209, 209, 209);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  .name:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }

  .card:hover {
    color: green;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    gap: 0.8rem;
  }

  .heading {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0.1rem;
    gap: 2rem;
  }

  .form {
    width: 100%;
  }

  .addinput {
    width: 100%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(25, 25, 25);
    color: white;
    font-size: 1.3rem;
  }

  .addbutton {
    min-width: 180px;
    background-color: rgb(43, 90, 209);
    height: 60px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1.3rem;
  }

  .addbutton:hover {
    background-color: rgb(20, 71, 198);
    border: 1px solid white;
  }

  .error {
    color: red;
    display: flex;
    justify-content: center;
  }

  .detailcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 350px);
    grid-auto-rows: 350px;
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
  }

  .count {
    color: rgb(209, 209, 209);
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    color: green;
  }

  .name {
    color: rgb(209, 209, 209);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  .name:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }

  .card:hover {
    color: green;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.2rem;
    padding-left: 8rem;
    padding-right: 2rem;
  }

  .heading {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .addcontainer {
    width: 100%;
  }
  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-radius: 1rem;
    gap: 2rem;
    background-color: black;
  }

  .form {
    width: 100%;
  }

  .addinput {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    font-size: 1.5rem;
    border: 1px solid rgb(25, 25, 25);
    color: white;
    height: 60px;
  }

  .addinput:focus {
    border: none;
    outline: none;
  }

  .addbutton {
    background-color: rgb(43, 90, 209);
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 60px;
    border: none;
  }

  .addbutton:hover {
    background-color: rgb(20, 71, 198);
    border: 1px solid white;
  }

  .error {
    color: red;
    display: flex;
    justify-content: center;
  }

  .detailcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 300px;
    gap: 1rem;
  }

  .card {
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .count {
    color: rgb(209, 209, 209);
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
  }

  .count:hover {
    color: green;
  }

  .name {
    color: rgb(209, 209, 209);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    font-size: 2rem;
  }

  .name:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }

  .card:hover {
    color: green;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.8rem;
    padding-left: 12rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .heading {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    height: 60px;
  }

  .addcontainer {
    width: 100%;
  }
  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-radius: 1rem;
    gap: 2rem;
    background-color: black;
  }

  .form {
    width: 100%;
  }

  .addinput {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    font-size: 1.5rem;
    border: 1px solid rgb(25, 25, 25);
    color: white;
    height: 60px;
  }

  .addinput:focus {
    border: none;
    outline: none;
  }

  .addbutton {
    background-color: rgb(43, 90, 209);
    border-radius: 10px;
    color: white;
    width: 130px;
    height: 60px;
    border: none;
  }

  .addbutton:hover {
    background-color: rgb(20, 71, 198);
    border: 1px solid white;
  }

  .error {
    color: red;
    display: flex;
    justify-content: center;
  }

  .detailcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 350px);
    grid-auto-rows: 350px;
    gap: 1rem;
  }

  .card {
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .count {
    color: green;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
  }

  .count:hover {
    color: green;
  }

  .name {
    color: rgb(209, 209, 209);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .name:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }

  .card:hover {
    color: green;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}
