@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
  }

  .heading {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .detailcontainer {
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    display: grid;
    gap: 2px;
    border-radius: 10px;
  }

  .detailscontainer {
    width: 100%;
    height: 120px;
    background-color: #0e0f11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 5px;
  }

  .detailsvalue {
    font-size: 3rem;
  }

  .detailslabel {
    color: #89898b;
    font-weight: bold;
  }

  .download:hover {
    background-color: rgb(36, 36, 36);
    cursor: pointer;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
  }

  .heading {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .detailcontainer {
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    border-radius: 10px;
  }

  .detailscontainer {
    width: 100%;
    height: 140px;
    background-color: #0e0f11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 5px;
  }

  .detailsvalue {
    font-size: 3rem;
  }

  .detailslabel {
    color: #89898b;
    font-weight: bold;
  }

  .download:hover {
    background-color: rgb(36, 36, 36);
    cursor: pointer;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 16rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
  }

  .heading {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .detailcontainer {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
  }

  .detailscontainer {
    width: 100%;
    height: 150px;
    background-color: #0e0f11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 5px;
  }

  .detailsvalue {
    font-size: 3rem;
  }

  .detailslabel {
    color: #89898b;
    font-weight: bold;
  }

  .download:hover {
    background-color: rgb(36, 36, 36);
    cursor: pointer;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 22rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
  }

  .heading {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .detailcontainer {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 1rem;
  }

  .detailscontainer {
    width: 100%;
    height: 150px;
    background-color: #0e0f11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 1rem;
  }

  .detailsvalue {
    font-size: 3rem;
  }

  .detailslabel {
    color: #89898b;
    font-weight: bold;
  }

  .download:hover {
    background-color: rgb(36, 36, 36);
    cursor: pointer;
  }

  .errorcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errormessage {
    width: 250px;
    height: 150px;
    border: 2px solid red;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .warningcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warningmessage {
    width: 350px;
    height: 150px;
    border: 2px solid rgb(204, 207, 31);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}
