
@media screen and (max-width: 768px) {
  .maincontainer {
    margin-top: 120px;
    height: 500px;
    width: 350px;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
  }

  .loginheading h1 {
    color: #5b5c5c;
    font-size: 3rem;
  }

  .loginbutton {
    background-color: #090a0c;
    color: white;
    width: 200px;
    height: 45px;
    font-size: 1.7rem;
    border-radius: 4px;
    margin-top: 20px;
  }

  .logininput {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
  }

  .logininput::placeholder {
    text-align: center;
    font-size: 1rem;
  }
  .nayara {
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .maincontainer {
    margin-top: 130px;
    margin-left: 450px;
    width: 1000px;
    height: 600px;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 10px;
  }

  .loginheading h1 {
    color: #5b5c5c;
    font-size: 3rem;
  }

  .loginbutton {
    width: 200px;
    height: 45px;
    font-size: 1.7rem;
    border-radius: 4px;
    background-color: #a3a3a3;
    color: black;
    border: 1px solid black;
    font-weight: bold;
  }

  .loginbutton:hover {
    border: 1px solid whitesmoke;
    color: white;
    background-color: #090a0c;
  }

  .logininput {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
  }

  .logininput::placeholder {
    text-align: center;
    font-size: 1rem;
  }

  .nayara {
    width: 200px;
  }
}
