@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: 60px;
    background-color: #28292b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .nayara {
    width: 100px;
  }

  .navbarheading h1 {
    color: #5b5c5c;
    font-size: 2rem;
  }

  .navleft {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoutbutton {
    background-color: #090a0c;
    color: white;
    width: 100px;
    border-radius: 4px;
    height: 40px;
  }

  .menu {
    color: green;
    position: absolute;
    right: 0%;
    font-size: 2rem;
  }

  .sidebar {
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  
  .sidemenu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    align-items: center;
    background-color: rgb(37, 38, 39);
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
  }
  
  .sidebaricon{
    width: 30px;
  }

  .menuname{
    width: 60px;
    display: flex;
  }

  .sidemenuhide {
    display: none;

  }

  .logoutbutton{
    border: none;
  }

  .activelink {
    background-color: #ced3d3;
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .container {
    width: 100%;
    height: 80px;
    background-color: #28292b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .nayara {
    width: 150px;
  }

  .navbarheading h1 {
    color: #5b5c5c;
    font-size: 2rem;
  }

  .navleft {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoutbutton {
    background-color: #090a0c;
    color: white;
    width: 100px;
    border-radius: 4px;
    height: 40px;
  }

  .menu {
    color: green;
    position: absolute;
    right: 1%;
    font-size: 3rem;
  }

  .sidebar {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  
  .sidemenu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    align-items: center;
    background-color: rgb(37, 38, 39);
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 1.4rem;
  }
  
  .sidebaricon{
    width: 30px;
  }

  .menuname{
    width: 60px;
    display: flex;
  }

  .sidemenuhide {
    display: none;

  }

  .logoutbutton{
    border: none;
  }

  .activelink {
    background-color: #ced3d3;
    color: black;
  }
}

@media screen and (min-width:1024px) and (max-width:1439px){

  .container {
    width: 100%;
    height: 80px;
    background-color: #28292b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .navleft {
    display: flex;
    gap: 10px;
  }

  .menu {
    display: none;
  }

  .sidebar {
    width: 200px;
    min-height: 500px;
    background-color: black;
    position: fixed;
    top: 15%;
    left: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
  }

  .sidemenu {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    background-color: rgb(37, 38, 39);
    color: white;
  }

  .sidemenu:hover {
    cursor: pointer;
    background-color: rgb(98, 100, 103);
    background-color: #ced3d3;
    color: black;
  }

  .sidebaricon {
  }

  .activelink {
    background-color: #ced3d3;
    color: black;
  }

  .download {
    background-color: #2e4e8f;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 5px;
    border: none;
  }

  .downloadicon {
    font-size: 1.5rem;
  }

  .download:hover {
    background-color: #4a6190;
    border: 1px solid white;
  }

  .downloadicon {
    color: white;
  }

  .nayara {
    width: 150px;
  }

  .navbarheading h1 {
    color: #5b5c5c;
    font-size: 2rem;
  }

  .logoutbutton {
    background-color: #090a0c;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
  }

  .logoutbutton:hover {
    background-color: #1e2127;
    border: 1px solid;
  }
  
}

@media screen and (min-width:1440px) {

  .container {
    width: 100%;
    height: 80px;
    background-color: #28292b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .navleft {
    display: flex;
    gap: 10px;
  }

  .menu {
    display: none;
  }

  .sidebar {
    width: 280px;
    min-height: 600px;
    background-color: black;
    position: fixed;
    top: 15%;
    left: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
  }

  .sidemenu {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    background-color: rgb(37, 38, 39);
    color: white;
  }

  .sidemenu:hover {
    cursor: pointer;
    background-color: rgb(98, 100, 103);
    background-color: #ced3d3;
    color: black;
  }

  .sidebaricon {
  }

  .activelink {
    background-color: #ced3d3;
    color: black;
  }

  .download {
    background-color: #2e4e8f;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 5px;
    border: none;
  }

  .downloadicon {
    font-size: 1.5rem;
  }

  .download:hover {
    background-color: #4a6190;
    border: 1px solid white;
  }

  .downloadicon {
    color: white;
  }

  .nayara {
    width: 150px;
  }

  .navbarheading h1 {
    color: #5b5c5c;
    font-size: 2rem;
  }

  .logoutbutton {
    background-color: #090a0c;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
  }

  .logoutbutton:hover {
    background-color: #1e2127;
    border: 1px solid;
  }
  
}
