@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Sriracha&display=swap");

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(6, 7, 8);
  background: -moz-linear-gradient(
    360deg,
    rgba(6, 7, 8, 1) 0%,
    rgba(136, 136, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    360deg,
    rgba(6, 7, 8, 1) 0%,
    rgba(136, 136, 136, 1) 100%
  );
  background: linear-gradient(
    360deg,
    rgba(6, 7, 8, 1) 0%,
    rgba(136, 136, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060708",endColorstr="#888888",GradientType=1);
}

.iconcontainer {
  font-size: 5rem;
  color: yellow;
}

.message {
  font-size: 3rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-family: "Space Grotesk";
}
