@media screen and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: white;
  }

  .qr {
    width: 250px;
  }

  .namewraper {
    width: 250px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .agentname {
    color: white;
  }

  .agentname:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 146);
    justify-content: space-evenly;
  }

  .download {
    width: 20px;
    left: 80%;
    position: absolute;
    color: blueviolet;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
    background-color: white;
  }

  .namewraper {
    width: 280px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2rem;
  }

  .namewraper:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 146);
    justify-content: space-evenly;
  }
  .agentname {
    color: white;
  }

  .download {
    left: 85%;
    position: absolute;
    color: blueviolet;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
  }

  .qrcontainer {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
  }

  .namewraper {
    width: 280px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2rem;
  }

  .namewraper:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 146);
    justify-content: space-evenly;
  }
  .agentname {
    color: white;
  }

  .download {
    font-size: 1.5rem;
    left: 85%;
    position: absolute;
    color: blueviolet;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
  }

  .namewraper {
    width: 280px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2rem;
  }

  .namewraper:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 146);
    justify-content: space-evenly;
  }
  .agentname {
    color: white;
  }

  .download {
    font-size: 1.5rem;
    left: 85%;
    position: absolute;
    color: blueviolet;
  }
}
